body {
  background-color: var(--dark-gray-color);
  color: var(--white-text-color);
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  line-height: 1.2;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

.main-container {
  min-height: 700px;
  margin: 0 auto;
  max-width: 500px;
  padding: 1rem;
  overflow-x: hidden;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-full {
  width: 100%;
}

.col-sm-5 {
  width: 5%;
}

.col-sm-95 {
  width: 95%;
}

.col-sm-third {
  width: calc(100% / 3);
}

@media screen and (min-width: 768px) {
  .main-container {
    max-width: 1000px;
    padding: 1rem;
  }

  .col-lg-half {
    width: 50%;
  }

  .col-lg-fourth {
    width: 25%;
  }

  button#brand-icon {
    padding-top: 0.45rem;
  }

  button#brand-name {
    font-size: 32px;
    margin: 0.5rem 0 0;
  }

  #main-heading,
  #quiz-question-heading {
    margin-top: 4rem;
  }

  .countdown-text {
    font-size: 24px;
    margin: 1rem 0 0;
  }

  .length-button,
  .type-button,
  .time-button,
  .difficulty-button {
    width: 40%;
  }

  .submit-button {
    max-width: 25%;
  }

  input[name="any-difficulty"],
  input[name="any-category"] {
    max-width: 25%;
  }

  footer {
    bottom: 1px;
    margin: 0;
    padding: 2rem 0;
  }
}
