body {
  background-color: var(--dark-gray-color);
  color: var(--white-text-color);
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  line-height: 1.2;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

.main-container {
  margin: 0 auto;
  max-width: 475px;
  min-height: 100vh;
  padding: 2rem;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-full {
  width: 100%;
}

.col-sm-5 {
  width: 5%;
}

.col-sm-95 {
  width: 95%;
}

.col-sm-fourth {
  width: 20%;
}

@media screen and (min-width: 768px) {
  .main-container {
    max-width: 1000px;
  }

  .col-lg-half {
    width: 50%;
  }

  #brand-name {
    margin: 0.5rem 0 0 !important;
  }

  .col-lg-15 {
    width: 15%;
  }

  .difficulty-button {
    max-width: 60%;
  }

  .type-button {
    width: 40%;
  }

  .submit-button {
    max-width: 10%;
  }

  input[name="im-crazy"],
  input[name="im-insane"] {
    max-width: 20%;
  }
}
