body {
  background-color: var(--dark-gray-color);
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  line-height: 1.2;
}

:root {
  --accent-color: #e2b714;
  --dark-gray-color: #333437;
  --heading-text-color: #646669;
  --incorrect-color: #ca4754;
  --lexend-font: "Lexend Deca", sans-serif;
  --light-gray-color: #2e2f31;
  --white-text-color: #d1d0c5;
}

/* HEADER */

header #brand-name {
  margin: 0;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  font-family: var(--lexend-font);
  color: var(--white-text-color);
}

/* FORM */

form h2 {
  color: var(--heading-text-color);
  font-family: var(--lexend-font);
  text-align: center;
}

#category-wrapper input {
  background-color: var(--light-gray-color);
  border-radius: 0.5rem;
  border-style: none;
  color: var(--white-text-color);
  cursor: pointer;
  font-family: inherit;
  margin: 0.2rem;
  padding: 0.4rem;
  text-align: center;
  width: 100%;
}

/* FOOTER */

footer p {
  color: var(--white-text-color);
  font-size: 12px;
  padding: 0 0.2rem;
}

footer a {
  color: black;
  text-decoration: none;
}

.footer-logo-item {
  padding: 0 0.3rem;
}

/* UTILITY CLASSES */

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.text-capitalize {
  text-transform: capitalize;
}
